<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Forums Workshop</title>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Forums Workshop</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">AboutUs</a></li>
        <li><a href="#">Contact</a></li>

      </ul>

      <ul class="nav navbar-nav navbar-right">
            <form class="navbar-form navbar-left">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Member Search" name="search">
        <div class="input-group-btn">
          <button class="btn btn-default" type="submit">
            <i class="glyphicon glyphicon-search"></i>
          </button>
        </div>
      </div>

    </form>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid text-center">
  <div class="row content">


   <div class="col-sm-12">

   <div class="well a">
     <div class="row ">
      <a href="#"><button class="tablinkbtn warning">My Tpoics</button></a>
      <a href="#"><button class="tablinkbtn warning">My Profile</button></a>
      <a href="#"><button class="tablinkbtn warning">Members</button></a>
      <a href="#"><button class="tablinkbtn warning">Top 10 Members</button></a>
     </div>

     </div>
   </div>



      <div class="col-sm-6 text-left">
      <h1>All Topics</h1>
    </div>
    <div class="col-sm-6 text-right">
      <a href="{{url_for('topic_add')}}"><button class="btn default">New Topic +</button></a>
    </div>
    <div class="col-sm-12">
        <div class="well">

   <table class="table">
    <thead>
      <tr>
        <th>Topics</th>
        <th></th>

      </tr>
    </thead>
    <tbody>

    {% for post in posts %}
      <tr>

          <td><a href = "{{ url_for('topic_show', id = post.id) }}">{{post.title}}</a></td>
        <td>
          <a href="{{ url_for('topic_update', id = post.id) }}"><button class="btn success">Edit</button></a>
        <a href="{{url_for('topic_delete',id = post.id)}}"><button class="btn danger">Delete</button></a></td>
      </tr>

    {% endfor %}


    </tbody>
  </table>
</div>
  </div>
    </div>

  </div>
</div>

</div>

<div class="container">

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">

             <div class="col-lg-12 text-center">
                    <h4> Done by: Wafa Basoodan </h4>
              </div>
            </div>

        </footer>
      </div>
</body>
</html>
<script
   src="https://code.jquery.com/jquery-3.3.1.min.js"
   integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
   crossorigin="anonymous"></script>
 <script>
    $(function ()
    {
        $(".delete").submit(function (event)
        {
            var id = event.target.id;
            alert("id = "+id);
                };
            $.ajax({
                type: "DELETE",
                url: "/api/topic/delete" + id,
                dataType: "json",
                success: function (response)
                    {
                        alert("Delete topic successfully !");
                        window.location.href = '/';
                    }
                });


        });
    });


</script>
